tbody tr:nth-child(odd) {
  background-color: var(--baseColor);
}
tbody tr:nth-child(odd) {
  background-color: var(--baseLight);
}

@media screen and (max-width: 37.5em) {
    table {
        width:100%;
    }
    table thead  {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      text-align: right;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
    }
}
@media screen and (min-width:48em){
    table {
        width:48em;
        margin: 1em auto;
    }
    caption {
        font-size: 2em;
    }
}

