.download {
    list-style: none;
    margin: 0;
    padding: 0;
}
.download a {
    background-position: 0 50%;
    background-repeat: no-repeat;
    color: var(--baseColor);
    padding-left: 22px;
    text-decoration: none;
}
.download a:hover {
    color: #ff7b29;
}
.download a[href$=".pdf"] {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/pdf.png");
}
.download a[href$=".doc"] {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/doc.png");
}
.download a[href$=".jpg"] {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/image.png");
}
.download a[href$=".mp3"] {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/audio.png");
}
.download a[href$=".mp4"] {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/video.png");
}
